<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--  <script type="text/javascript" src="static/reference-edit-modal-window.js" th:src="@{/reference-edit-modal-window.js}"></script>-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <title>Reference collection</title>
</head>

<body>
<h1 style="background-image: url('reference-background.jpeg'); margin-top: 0px; margin-bottom: 0px">

    <div class="btn-group">
        <select class="dropdown" th:field="*{environments}" id="environments"
                style="text-align: center; vertical-align: middle; width: 400px; height: 40px;  font-size: 14px">
            <option value="null">Global environment</option>
            <option th:each="environment : ${environments}"
                    th:value="${environment.id}" th:text="${environment.name}"
            </option>
        </select>
        <button id="create-environment"
                style="background: #86e0b3; height: 40px; width: 40px; margin-bottom: 7px"
                type="button"
                class="btn btn-success" data-toggle="modal" data-target="#environmentCreateDialog">
            <i class="fa fa-plus-square"></i>
        </button>
    </div>

    <br>

    <div class="btn-group" style="height: 40px; width: 40px; margin-left: 7px; margin-bottom: 7px">
        <button id="create-reference"
                style="background: #86e0b3"
                type="button"
                class="btn btn-success" data-toggle="modal" data-target="#referenceCreateDialog">
            <i class="fa fa-plus-square"></i>
        </button>
        <a style="background: #6babc7"
           href="/tag"
           class="btn btn-success">
            <i class="fa fa-tags"></i>
        </a>
        <button id="filter-reference"
                style="background: limegreen"
                type="button"
                class="btn btn-success"
                data-toggle="modal"
                data-target="#referenceFilterDialog">
            <i class="fa fa-filter"></i>
        </button>
    </div>

</h1>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th style="text-align: center; vertical-align: middle; width: 30px">id</th>
        <th style="text-align: center; vertical-align: middle">name</th>
        <th style="text-align: center; vertical-align: middle">url</th>
        <th style="text-align: center; vertical-align: middle">description</th>
        <th style="text-align: center; vertical-align: middle; width: 190px">tags</th>
        <th style="text-align: center; vertical-align: middle; width: 110px">create date</th>
        <th style="text-align: center; vertical-align: middle; width: 140px; align-items: center">actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${references.empty}">
        <td colspan="6">No reference available</td>
    </tr>
    <tr th:each="reference : ${references}" style="margin-top: 0px; margin-bottom: 0px">
        <td style="font-size: 14px; text-align: center; vertical-align: middle">
            <span th:text="${reference.id}"
                  th:value="${reference.id}"></span>
        </td>
        <td style="font-size: 14px; text-align: center; vertical-align: middle">
            <span th:text="${reference.name}"></span>
        </td>
        <td style="font-size: 12px; text-align: center; vertical-align: middle">
            <a id="urlId"
               th:value="${reference.url}"
               th:href="${reference.url}"
               th:text="${reference.url}"
               target="_blank">
            </a>
        </td>
        <td style="font-size: 14px; text-align: center; vertical-align: middle">
            <span th:text="${reference.description}"></span>
        </td>
        <td style="text-align: center; vertical-align: middle">
            <p th:each="tag : ${reference.tagList}"
               th:value="${tag.name}"
               th:text="${tag.name}"
               class="badge badge-secondary"
               style="font-size: 12px; text-align: center; vertical-align: middle;  margin-top: 0px; margin-bottom: 4px">
            </p>
        </td>
        <td style="font-size: 14px; text-align: center; vertical-align: middle">
            <span th:text="${reference.createDate}"></span>
        </td>

        <td>
            <div class="btn-group" style="height: 35px; width: 35px">
                <button id="copyUrlButton"
                        type="button"
                        class="btn btn-success"
                        style="background: #6babc7"
                        th:data-referenceUrl="${reference.url}"
                        th:onclick="">
                    <i class="fa fa-copy"></i>
                </button>
                <button id="edit-reference" type="button"
                        class="btn btn-success"
                        data-toggle="modal"
                        data-target="#referenceEditDialog"
                        th:data-referenceId="${reference.id}">
                    <i class="fas fa-edit"></i>
                </button>
                <button id="delete-reference"
                        style="background: crimson"
                        type="button"
                        class="btn btn-success"
                        data-toggle="modal"
                        data-target="#referenceDeleteDialog"
                        th:data-deleteId="${reference.id}">
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<div class="modal fade" id="environmentCreateDialog" tabindex="-1" role="dialog"
     aria-labelledby="environmentCreateDialogLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="environmentCreateDialogLabel">Create environment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="environment-id">
                    <div class="form-group">
                        <label for="environment-name" class="col-form-label">Name</label>
                        <input type="text" class="form-control" id="environment-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="save-environment-button" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="referenceEditDialog" tabindex="-1" role="dialog" aria-labelledby="referenceEditDialogLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="referenceEditDialogLabel">Edit reference</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="reference-id">
                    <input type="hidden" id="reference-createDate">
                    <div class="form-group">
                        <label for="reference-name" class="col-form-label">Reference name</label>
                        <input type="text" class="form-control" id="reference-name">
                    </div>
                    <div class="form-group">
                        <label for="reference-url" class="col-form-label">Url</label>
                        <input type="text" class="form-control" id="reference-url">
                    </div>
                    <div class="form-group">
                        <label for="reference-description" class="col-form-label">Description</label>
                        <input type="text" class="form-control" id="reference-description">
                    </div>
                    <div class="form-group">
                        <label for="reference-tags" class="col-form-label">Tags</label>
                        <select class="form-control selectpicker" th:field="*{tags}" id="reference-tags">
                            <option value="">Nothing selected</option>
                            <option th:each="tag : ${tags}"
                                    th:value="${tag.id}" th:text="${tag.name}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="environment-name" class="col-form-label">Environments</label>
                        <select class="form-control selectpicker" th:field="*{environments}" id="environment">
                            <option value="null">Global environment</option>
                            <option th:each="environment : ${environments}"
                                    th:value="${environment.id}" th:text="${environment.name}">
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="update-reference-button" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="referenceCreateDialog" tabindex="-1" role="dialog"
     aria-labelledby="referenceCreateDialogLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="referenceCreateDialogLabel">Create reference</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="reference-id">
                    <div class="form-group">
                        <label for="reference-name" class="col-form-label">Name</label>
                        <input type="text" class="form-control" id="reference-name">
                    </div>
                    <div class="form-group">
                        <label for="reference-url" class="col-form-label">Url</label>
                        <input type="text" class="form-control" id="reference-url">
                    </div>
                    <div class="form-group">
                        <label for="reference-description" class="col-form-label">Description</label>
                        <input type="text" class="form-control" id="reference-description">
                    </div>
                    <div class="form-group">
                        <label for="reference-tags" class="col-form-label">Tags</label>
                        <select class="form-control selectpicker" th:field="*{tags}" id="reference-tags">
                            <option value="null">Nothing selected</option>
                            <option th:each="tag : ${tags}"
                                    th:value="${tag.id}" th:text="${tag.name}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="environment-name" class="col-form-label">Environments</label>
                        <select class="form-control selectpicker" th:field="*{environments}" id="environment">
                            <option value="null">Global environment</option>
                            <option th:each="environment : ${environments}"
                                    th:value="${environment.id}" th:text="${environment.name}">
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="save-reference-button" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="referenceDeleteDialog" tabindex="-1" role="dialog"
     aria-labelledby="referenceDeleteDialogLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="referenceDeleteDialogLabel">Delete reference?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="deleteReferenceId">
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="delete-reference-button" class="btn btn-primary" role="button"
                            style="background: crimson">Delete
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="referenceFilterDialog" tabindex="-1" role="dialog"
         aria-labelledby="referenceFilterDialogLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="referenceFilterDialogLabel">Filter reference</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="reference-tags" class="col-form-label">Tags</label>
                            <select class="form-control selectpicker" th:field="*{tags}" id="reference-tags">
                                <option value="">Nothing selected</option>
                                <option th:each="tag : ${tags}"
                                        th:value="${tag.id}" th:text="${tag.name}">
                                </option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="filter-reference-button" type="button" class="btn btn-primary">Filter</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!--Распологать после всех скриптов-->

    <script>
        function copyUrl(element) {
            console.error()
            let text = element.innerText;
            let input = document.createElement('input');
            input.setAttribute('value', text);
            document.body.appendChild(input);
            input.select();
            document.execCommand('copy');
        }
    </script>

    <script>
        $('#save-environment-button').click(function () {
            let modal = $('#environmentCreateDialog')
            let environment = {
                name: modal.find('#environment-name').val()
            };

            if (modal.find('#environment-id').val()) {
                reference.id = modal.find('#environment-id').val()
            }

            $.ajax({
                url: '/api/v1/environment',
                type: 'POST',
                data: JSON.stringify(environment),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: () => {
                    location.reload()
                },
                error: (err) => {
                    alert(err);
                }
            })

            modal.modal('hide');
        });
    </script>

    <script>
        $('#referenceEditDialog').on('shown.bs.modal', function (event) {
            let button = $(event.relatedTarget)
            let referenceId = button.data('referenceid')
            if (referenceId) {
                $.get({
                    url: '/api/v1/reference/' + referenceId,
                    success: (data) => {
                        let modal = $(this)
                        modal.find('#reference-id').val(data.id)
                        modal.find('#reference-name').val(data.name)
                        modal.find('#reference-url').val(data.url)
                        modal.find('#reference-createDate').val(data.createDate)
                        modal.find('#reference-description').val(data.description)
                        modal.find('#reference-tags').val(data.tags)
                    },
                    error: (err) => {
                        alert(err);
                    }
                });
            }
        })

        $('#update-reference-button').click(function () {
            let modal = $('#referenceEditDialog')
            let reference = {
                name: modal.find('#reference-name').val(),
                url: modal.find('#reference-url').val(),
                createDate: modal.find('#reference-createDate').val(),
                description: modal.find('#reference-description').val(),
                tags: [
                    modal.find('#reference-tags').val()
                ],
            };
            if (modal.find('#reference-id').val()) {
                reference.id = modal.find('#reference-id').val()
            }
            let id = reference.id
            $.ajax({
                url: '/api/v1/reference/edit/' + id,
                type: 'PUT',
                data: JSON.stringify(reference),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: () => {
                    location.reload()
                },
                error: (err) => {
                    alert(err);
                }
            })

            modal.modal('hide');
        });
    </script>

    <script>
        $('#save-reference-button').click(function () {
            let modal = $('#referenceCreateDialog')
            let tags = [
                modal.find('#reference-tags').val()
            ]
            let reference = {
                name: modal.find('#reference-name').val(),
                url: modal.find('#reference-url').val(),
                description: modal.find('#reference-description').val(),
                tags: tags,
            };

            if (modal.find('#reference-id').val()) {
                reference.id = modal.find('#reference-id').val()
            }

            $.ajax({
                url: '/api/v1/reference',
                type: 'POST',
                data: JSON.stringify(reference),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: () => {
                    location.reload()
                },
                error: (err) => {
                    alert(err);
                }
            })

            modal.modal('hide');
        });
    </script>

    <script>
        $('#delete-reference-button').on('shown.bs.modal', function (event) {
            let modal = $('#referenceDeleteDialog')
            let id = modal.find('#deleteReferenceId').val()

            $.ajax({
                url: '/api/v1/reference/delete/' + id,
                type: 'DELETE',
                success: function (response) {

                },
                error: (err) => {
                    alert(err);
                }
            })
            modal.modal('hide');
        });
    </script>

    <script>
        $('#filter-reference-button').click(function () {
            let modal = $('#referenceFilterDialog')
            window.location.href = '/reference?tagsIdList=' + modal.find('#reference-tags').val();
        })
    </script>


</body>
</html>